@import "./styles/themes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}
